#ignore all but selected
*
!.gitignore
!dvdencode
!imgconvert
!mov2mp4
!mpgencode
!pastestr
!playmusic
!trimfilesws
!ttws
!rmbatch
!rm-ant-cache
!find-src-refs
!README.md
!powerlevel9k.setup.sh
!.gitconfig
